<div class="banner">
  <div class="container banner-content">
    <h1>My lists</h1>
    <a href="#"><%= link_to "Create a list", new_list_path, class:"btn btn-light" %></a>
  </div>
</div>


<div class= "container d-flex flex-wrap">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-trip"  style="width: 30%">
      <%= image_tag "movie2.jpg" %>
        <div class="card-trip-infos">
          <h2><%= list.name %></h2>
          <%= link_to list_path(list), class:"btn btn-light",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
