<div class="banner"
style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  <%= link_to lists_path do %>
  <i class="fa-solid fa-rotate-left"></i>
  <% end %>
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="custom-container d-flex">
  <div class="card-product-container d-flex">
    <%@list.bookmarks.each do |bookmark| %>
      <div class="card-product">
      <img src='<%=bookmark.movie.poster_url%>' alt="">
        <div class="card-product-infos">
          <h2><%= bookmark.movie.title %></h2>
          <p><%= bookmark.movie.overview %></p>
          <p><i class="fa-solid fa-star"></i><%= bookmark.movie.rating %></p>
          <p><%= bookmark.comment %></p>
          <%= link_to bookmark_path(bookmark), class:"btn",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="movie-form">
    <h3>Add a movie to your favorite list</h3>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit "Add to your list", class: "btn red-btn " %>
    <% end %>
  </div>
</div>
